*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  color:#fff;
}

#page-landing {
  max-height: 100vh;
  text-align: center;
  background: linear-gradient(329.54deg,#29b6d1 0%, #00c7c7 100% );
}